@import "../../styles/variables";

.paginator_box {
  display: flex;
  justify-content: center;
  .page_count_box {
    width: 12%;
    position: relative;

    @media (max-width: 700px) {
      width: 55px;
      text-align: center;
      order: 2;
      margin-top: 5px;
    }

    .page_count {
      display: inline-block;
      border-radius: 5px;
      width: 55px;
      text-align: center;
      padding: 2px 5px;
      cursor: pointer;
      background-color: #DDDDDD;
      color: #000000;
      font-size: 16px;
      margin-bottom: 2px;
      box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
      transition-duration: 0.3s;

      &:hover {
        box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
      }
    }

    .page_count_options {
      position: absolute;
      left: 0;
      top: 30px;
      background-color: white;
      border: 1px black solid;
      border-radius: 5px;
      width: 55px;
      text-align: center;
      cursor: pointer;

      .el {
        padding: 4px 0;

        &:hover {
          background-color: $bgActive;
          color: #FFFFFF;
          border-radius: 5px;
        }
      }
    }
  }

  .root {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    :global {

      li {
        display: inline-block;

        a {
          display: block;
          text-align: center;
          width: 50px;
          height: 50px;
          line-height: 48px;
          border: 1px solid $bdColor;
          color: #000000;
          margin-right: 10px;
          cursor: pointer;

          &:hover {
            background-color: $bgActive;
            color: white;
          }
        }
      }
    }

    :global {
      .selected {
        a {
          background-color: $bgActive;
          color: white;
        }
      }

    }
  }
}

.root_disabled {
  pointer-events: none;
  opacity: 0.5;
}


