@import "../../styles/variables";

.root {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  :global {

    li {
      display: inline-block;

      a {
        display: block;
        text-align: center;
        width: 50px;
        height: 50px;
        line-height: 48px;
        border: 1px solid $bdColor;
        color: #000000;
        margin-right: 10px;
        cursor: pointer;

        &:hover {
          background-color: #00A3FF;
          color: white;
        }
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #00A3FF;
        color: white;
      }
    }

  }
}

.root_disabled {
  pointer-events: none;
  opacity: 0.5;
}


