@import "../../styles/variables";

.link {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 100%;
  //height: 218px;
  padding: 7px 15px 13px 15px;
  overflow: auto;

  border: 1px solid $bdColor;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  .title {
    display: block;
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    @extend .link;
  }
  .author {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-bottom: 11px;
    .photo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .name {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      @extend .link;
    }
  }
  .counts {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 14px;
  }
  .button {
    display: block;
    padding-top: 16px;
    text-align: center;
    text-decoration: none;
    height: 54px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background: none;
    border: 1px solid $bdColor;
    color: #000000;
    cursor: pointer;
  }
}

.type_count {
  display: flex;
  align-items: center;
  gap: 16px;
}

.count {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}